@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Petit+Formal+Script&subset=latin-ext");
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }

header {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }
  header .top_menu {
    top: 0;
    height: 0;
    visibility: hidden;
    -webkit-animation-name: menu;
            animation-name: menu;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    font-family: "Josefin Sans", sans-serif; }
    header .top_menu .logo_menu {
      opacity: 0;
      -webkit-animation-name: logo_show;
              animation-name: logo_show;
      -webkit-animation-delay: 8.5s;
              animation-delay: 8.5s;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header .top_menu .logo_menu img {
        height: 120px;
        padding: 10px 0; }
      header .top_menu .logo_menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        header .top_menu .logo_menu ul li {
          padding: 0 30px;
          font-size: 15px;
          cursor: pointer; }
        header .top_menu .logo_menu ul a {
          text-decoration: none;
          color: black; }
  header .jumbotron {
    position: relative;
    background-image: url("../img/szyca_szyld.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    -webkit-animation-name: jumbo;
            animation-name: jumbo;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 80px;
    font-weight: 700; }
    header .jumbotron .tradition {
      opacity: 0;
      position: absolute;
      top: 60%;
      left: 70%;
      color: white;
      -webkit-animation-name: fadeRL;
              animation-name: fadeRL;
      -webkit-animation-duration: 4s;
              animation-duration: 4s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
    header .jumbotron .quality {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 20%;
      color: white;
      -webkit-animation-name: fadeLR;
              animation-name: fadeLR;
      -webkit-animation-duration: 4s;
              animation-duration: 4s;
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
    header .jumbotron .passion {
      opacity: 0;
      position: absolute;
      top: 30%;
      left: 50%;
      color: white;
      -webkit-animation-name: fadeRLL;
              animation-name: fadeRLL;
      -webkit-animation-duration: 4s;
              animation-duration: 4s;
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
    header .jumbotron img {
      opacity: 0;
      width: 200px;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      -webkit-animation-name: magnify;
              animation-name: magnify;
      -webkit-animation-duration: 5s;
              animation-duration: 5s;
      -webkit-animation-delay: 4s;
              animation-delay: 4s; }

main .services {
  position: static;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  background: white; }
  main .services h2 {
    padding: 30px 0 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #0f0f0f; }
  main .services .wrapper {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5%;
    -webkit-perspective: 2000px;
            perspective: 2000px; }
    main .services .wrapper .left,
    main .services .wrapper .middle,
    main .services .wrapper .right {
      float: left;
      position: relative;
      height: 100%;
      color: #0f0f0f;
      background-color: #fff345;
      width: 33%; }
    main .services .wrapper .left {
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      transition: .7s ease-in-out;
      z-index: 20; }
      main .services .wrapper .left.open {
        -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
        transition: .7s ease-in-out; }
      main .services .wrapper .left .front,
      main .services .wrapper .left .back {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0; }
      main .services .wrapper .left .front {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
        color: #0f0f0f;
        background-color: white;
        z-index: 5; }
        main .services .wrapper .left .front .sectionWrap {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -ms-flex-pack: distribute;
              justify-content: space-around;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 5px 20px; }
        main .services .wrapper .left .front .openB {
          -webkit-transform: translateX(-60px);
                  transform: translateX(-60px);
          background-color: #fff345;
          border: none;
          padding: 5px;
          min-width: 120px;
          max-width: 150px;
          z-index: 50;
          bottom: 20px;
          font-weight: 400;
          font-size: 1em;
          opacity: 1;
          transition: .2s ease-in-out;
          cursor: pointer;
          color: #0f0f0f; }
          main .services .wrapper .left .front .openB:hover {
            background-color: black;
            color: white;
            transition: .2s ease-in-out; }
        main .services .wrapper .left .front .preview {
          max-height: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
          content: "";
          position: relative;
          display: block; }
          main .services .wrapper .left .front .preview:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(transparent, white); }
      main .services .wrapper .left img {
        box-sizing: border-box;
        height: 70%; }
      main .services .wrapper .left .back {
        color: #0f0f0f;
        background-color: #fff345;
        z-index: 4;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden; }
        main .services .wrapper .left .back.open {
          z-index: 10; }
    main .services .wrapper .right {
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
      transition: .7s ease-in-out; }
      main .services .wrapper .right.open {
        -webkit-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
        transition: .7s ease-in-out; }
      main .services .wrapper .right .closeB {
        position: absolute;
        border: none;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        z-index: 50;
        width: 20px;
        font-size: 10px;
        cursor: pointer;
        height: 20px;
        top: 0;
        right: 0;
        transition: .2s ease-in-out; }
        main .services .wrapper .right .closeB:hover {
          background-color: rgba(0, 0, 0, 0.2);
          transition: .2s ease-in-out; }
    main .services .wrapper .sectionWrap {
      height: 100%;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      overflow: hidden; }
      main .services .wrapper .sectionWrap h1 {
        font-size: 24px;
        line-height: 1; }
      main .services .wrapper .sectionWrap p {
        font-size: 1.2em;
        max-height: 100px;
        text-overflow: clip; }
      main .services .wrapper .sectionWrap hr {
        border: 3px solid #34495e;
        width: 30px;
        margin: 12px 0 8px 1px;
        text-align: left;
        color: white; }
main .about {
  height: 100vh;
  position: static; }
  main .about h1 {
    padding: 30px 0 15px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #0f0f0f; }
  main .about .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    main .about .about-content .about-image {
      position: relative;
      margin: 50px 0;
      height: 333px;
      width: 500px;
      overflow: hidden; }
      main .about .about-content .about-image img {
        height: 333px;
        width: 500px;
        transition: -webkit-transform 6s;
        transition: transform 6s;
        transition: transform 6s, -webkit-transform 6s; }
        main .about .about-content .about-image img:hover {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1); }
    main .about .about-content p {
      position: relative;
      margin: 50px 0;
      width: 500px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 20px;
      font-weight: 300;
      text-align: justify; }
main .horizontal-timeline {
  height: 430px;
  padding: 20px 0;
  opacity: 0;
  margin: 2em auto;
  transition: opacity .2s;
  position: relative; }
  main .horizontal-timeline::before {
    content: 'mobile';
    display: none; }
  main .horizontal-timeline.loaded {
    opacity: 1; }
  main .horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 90%;
    margin: 0 auto; }
  main .horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden; }
    main .horizontal-timeline .events-wrapper::after, main .horizontal-timeline .events-wrapper::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      height: 100%;
      width: 20px; }
    main .horizontal-timeline .events-wrapper::before {
      left: 0;
      top: 49px;
      height: 2px;
      background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0)); }
    main .horizontal-timeline .events-wrapper::after {
      right: 0;
      top: 49px;
      height: 2px;
      background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0)); }
  main .horizontal-timeline .events {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    background: #dfdfdf;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  main .horizontal-timeline .filling-line {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff345;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left center;
            transform-origin: left center;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
  main .horizontal-timeline .events a {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    padding-bottom: 15px;
    color: #0f0f0f;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    text-decoration: none; }
    main .horizontal-timeline .events a::after {
      content: '';
      position: absolute;
      left: 50%;
      right: auto;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: -5px;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      border: 2px solid #dfdfdf;
      background-color: #f8f8f8;
      transition: background-color .3s, border-color .3s; }
    .no-touch main .horizontal-timeline .events a:hover::after {
      background-color: #fff345;
      border-color: #fff345; }
    main .horizontal-timeline .events a.selected {
      pointer-events: none; }
      main .horizontal-timeline .events a.selected::after {
        background-color: #fff345;
        border-color: #fff345; }
    main .horizontal-timeline .events a.older-event::after {
      border-color: #fff345; }
  @media only screen and (min-width: 1100px) {
    main .horizontal-timeline {
      margin: 10px auto; }
      main .horizontal-timeline::before {
        content: 'desktop'; } }
  main .horizontal-timeline .timeline-navigation a {
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    transition: border-color .3s; }
    main .horizontal-timeline .timeline-navigation a::after {
      content: '';
      position: absolute;
      height: 16px;
      width: 16px;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      background: url(../img/arrow.svg) no-repeat 0 0; }
    main .horizontal-timeline .timeline-navigation a.prev {
      left: 0;
      -webkit-transform: translateY(-50%) rotate(180deg);
              transform: translateY(-50%) rotate(180deg); }
    main .horizontal-timeline .timeline-navigation a.next {
      right: 0; }
    .no-touch main .horizontal-timeline .timeline-navigation a:hover {
      border-color: #fff345; }
    main .horizontal-timeline .timeline-navigation a.inactive {
      cursor: not-allowed; }
      main .horizontal-timeline .timeline-navigation a.inactive::after {
        background-position: 0 -16px; }
      .no-touch main .horizontal-timeline .timeline-navigation a.inactive:hover {
        border-color: #dfdfdf; }
  main .horizontal-timeline .events-content {
    position: relative;
    width: 100%;
    margin: 2em 0;
    overflow: hidden;
    transition: height .4s; }
    main .horizontal-timeline .events-content li {
      position: absolute;
      z-index: 1;
      width: 100%;
      left: 0;
      top: 0;
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
      padding: 0 5%;
      opacity: 0;
      -webkit-animation-duration: 0.4s;
              animation-duration: 0.4s;
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out; }
      main .horizontal-timeline .events-content li.selected {
        position: relative;
        z-index: 2;
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0); }
      main .horizontal-timeline .events-content li.enter-right, main .horizontal-timeline .events-content li.leave-right {
        -webkit-animation-name: enter-right;
                animation-name: enter-right; }
      main .horizontal-timeline .events-content li.enter-left, main .horizontal-timeline .events-content li.leave-left {
        -webkit-animation-name: enter-left;
                animation-name: enter-left; }
      main .horizontal-timeline .events-content li.leave-right, main .horizontal-timeline .events-content li.leave-left {
        -webkit-animation-direction: reverse;
                animation-direction: reverse; }
    main .horizontal-timeline .events-content li > * {
      max-width: 800px;
      margin: 0 auto;
      font-family: "Josefin Sans", sans-serif; }
    main .horizontal-timeline .events-content h2 {
      font-weight: bold;
      font-size: 1.7rem;
      font-weight: 700;
      line-height: 1.2; }
    main .horizontal-timeline .events-content em {
      display: block;
      font-style: italic;
      margin: 10px auto;
      font-size: 1.4; }
      main .horizontal-timeline .events-content em::before {
        content: '- '; }
    main .horizontal-timeline .events-content p {
      font-size: 1rem;
      color: shade(#f8f8f8, 40%); }
    main .horizontal-timeline .events-content em, main .horizontal-timeline .events-content p {
      line-height: 1.6; }
    @media only screen and (min-width: 768px) {
      main .horizontal-timeline .events-content h2 {
        font-size: 4rem; }
      main .horizontal-timeline .events-content em {
        font-size: 2rem; }
      main .horizontal-timeline .events-content p {
        font-size: 1.4rem; } }
main .products {
  height: 70vh;
  position: static;
  background-image: url("../../img/products_background.jpg");
  background-size: cover;
  background-position: center; }
  main .products h1 {
    padding: 30px 0 15px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white; }
  main .products .products-wrapper {
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    main .products .products-wrapper .svg-wrapper {
      height: 300px;
      position: relative;
      width: 300px; }
      main .products .products-wrapper .svg-wrapper .shape {
        fill: transparent;
        stroke-dasharray: 140 1040;
        stroke-dashoffset: -674;
        stroke-width: 10px;
        stroke: #fff345; }
      main .products .products-wrapper .svg-wrapper .text {
        font-family: "Josefin Sans", sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: white;
        line-height: 32px;
        position: relative;
        text-align: center;
        top: -48px; }
      main .products .products-wrapper .svg-wrapper:hover .shape {
        -webkit-animation: 0.5s draw linear forwards;
                animation: 0.5s draw linear forwards; }
main .sentence {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 30vh;
  padding: 20px 0; }
  main .sentence .sentence-text h2 {
    font-family: "Petit Formal Script", cursive;
    font-size: 22px;
    text-align: center;
    padding: 60px 0 20px;
    line-height: 35px; }
  main .sentence .sentence-text h3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    text-align: right;
    font-weight: 300; }
  main .sentence .sentence-scale {
    transition: -webkit-transform 15s;
    transition: transform 15s;
    transition: transform 15s, -webkit-transform 15s;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  main .sentence .sentence-shape {
    position: relative;
    width: 0;
    fill: #fff345;
    z-index: -1;
    -webkit-transform: translate(60px, -50px);
            transform: translate(60px, -50px); }

@-webkit-keyframes menu {
  from {
    visibility: hidden;
    height: 0; }
  to {
    visibility: visible;
    height: 15vh; } }

@keyframes menu {
  from {
    visibility: hidden;
    height: 0; }
  to {
    visibility: visible;
    height: 15vh; } }
@-webkit-keyframes jumbo {
  from {
    background-image: url("../img/szyca_szyld.jpg");
    height: 100vh; }
  to {
    background-image: url("../img/szyca_torba.jpg");
    height: 85vh; } }
@keyframes jumbo {
  from {
    background-image: url("../img/szyca_szyld.jpg");
    height: 100vh; }
  to {
    background-image: url("../img/szyca_torba.jpg");
    height: 85vh; } }
@-webkit-keyframes logo_show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes logo_show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeRL {
  0% {
    left: 70%;
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    left: 50%;
    opacity: 0; } }
@keyframes fadeRL {
  0% {
    left: 70%;
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    left: 50%;
    opacity: 0; } }
@-webkit-keyframes fadeRLL {
  0% {
    left: 50%;
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    left: 20%;
    opacity: 0; } }
@keyframes fadeRLL {
  0% {
    left: 50%;
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    left: 20%;
    opacity: 0; } }
@-webkit-keyframes fadeLR {
  0% {
    left: 60%;
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    left: 80%;
    opacity: 0; } }
@keyframes fadeLR {
  0% {
    left: 60%;
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    left: 80%;
    opacity: 0; } }
@-webkit-keyframes magnify {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  80% {
    opacity: 1;
    -webkit-transform: scale(1.8, 1.8);
            transform: scale(1.8, 1.8); }
  100% {
    opacity: 0;
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2); } }
@keyframes magnify {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  80% {
    opacity: 1;
    -webkit-transform: scale(1.8, 1.8);
            transform: scale(1.8, 1.8); }
  100% {
    opacity: 0;
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2); } }
@-webkit-keyframes draw {
  0% {
    stroke-dasharray: 140 1040;
    stroke-dashoffset: -674;
    stroke-width: 10px; }
  100% {
    stroke-dasharray: 1260;
    stroke-dashoffset: 0;
    stroke-width: 3px; } }
@keyframes draw {
  0% {
    stroke-dasharray: 140 1040;
    stroke-dashoffset: -674;
    stroke-width: 10px; }
  100% {
    stroke-dasharray: 1260;
    stroke-dashoffset: 0;
    stroke-width: 3px; } }
@-webkit-keyframes enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }
@keyframes enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }
@-webkit-keyframes enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }
@keyframes enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }
