@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i');

$font: 'Josefin Sans', sans-serif;

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.top_menu {
	height: 0;
	visibility: hidden;
	animation-name: menu;
	animation-duration: 2s;
	animation-delay: 7s;
	animation-fill-mode: forwards;
	font-family: $font;

	.logo_menu {
		opacity: 0;
		animation-name: logo_show;
		animation-delay: 8.5s;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}
}

.jumbotron {
	position: relative;
	background-image: url('../img/szyca_szyld.jpg');
	background-position: center;
	background-size: cover;
	height: 100vh;
	animation-name: jumbo;
	animation-delay: 7s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font: {
		family: $font;
		size: 80px;
		weight: 700;
	};

	.tradition {
		opacity: 0;
		position: absolute;
		top: 60%;
		left: 70%;
		color: white;
		animation-name: fadeRL;
		animation-duration: 6s;
		animation-fill-mode: forwards;
	}

	.quality {
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 20%;
		color: white;
		animation-name: fadeLR;
		animation-duration: 6s;
		animation-delay: 3s;
		animation-fill-mode: forwards;
	}

	.passion {
		opacity: 0;
		position: absolute;
		top: 30%;
		left: 50%;
		color: white;
		animation-name: fadeRLL;
		animation-duration: 5s;
		animation-delay: 3s;
		animation-fill-mode: forwards;
	}
}

@keyframes menu {
	from {visibility: hidden;
		height: 0;}
	to {visibility: visible;
		height: 10vh;}
}

@keyframes jumbo {
	from {
		background-image: url('../img/szyca_szyld.jpg');
		height: 100vh;}
	to {
		background-image: url('../img/szyca_torba.jpg');
		height: 90vh;
	}
}

@keyframes logo_show {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeRL {
	0% {
		left: 70%;
		opacity: 0;
	}
	50% {
		opacity: 0.8;
	}
	100% {
		left: 50%;
		opacity: 0;
	}
}

@keyframes fadeRLL {
	0% {
		left: 50%;
		opacity: 0;
	}
	50% {
		opacity: 0.8;
	}
	100% {
		left: 20%;
		opacity: 0;
	}
}

@keyframes fadeLR {
	0% {
		left: 60%;
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		left: 80%;
		opacity: 0;
	}
}